<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets fetch Weather</title>
</head>
<body>
    <h1>Hi i am rendering weather</h1>
    <p>
        Location      : {{weather.location.name}} </br>
        Region        : {{weather.location.region}} </br>
        Country       :  {{weather.location.country}} </br>
        Local Time    : {{weather.location.localtime}} </br>
        Temperature   : {{weather.current.temp_c}} </br>

    </p>
</body>
</html>